<% if user_signed_in? %>
  <li>
    Welcome, <%=current_user.name%> [<%=current_user.email%> <%=" - Administrator" if current_user.admin? %>]
     
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path) %>
  </li>
<% end %>